#console{
    padding:0px;
    margin:0px;
    height:100%;
    position:relative;    
}

#console #title{
    margin:0px;
    padding:5px;
    background-color:black;
    color:white;
    border-left:solid 1px white;
}

#console #title h2{
    margin:8px;
    padding-left:50px;
}

#console h3{
    text-align:center;
}

#console #title img{
    float:left;
    width:43px;
    height:43px;
    margin-left:4px;
}

#console table{
    font-size:90%;
    width:100%;
}

#newGameDialog{
    padding-top:5px;
    width:100%;
    text-align:center;
}

#gamesList{
    max-height:600px;
    overflow-y:scroll;
}

#showNewGameButton{
    margin-left:115px;
}

#gamesList th{
    border-bottom:solid 1px black;
    padding:5px;
    text-align:left;
}

#gamesList td{
    border-bottom:solid 1px black;
    padding:5px;
}

#login-buttons{
    float:right;
    margin-top:7px;
}

a#titleDropDown{
   float:right;
   padding-right:5px;
   margin-top:12px;
   color:white;
   text-decoration:none;
}

#gameConsole{
    position:relative;
}

#players #black{
    width:50%;
    height:100px;
    border-bottom:solid 1px black;
}

#players #white{
    border-left:solid 1px black;
    border-bottom:solid 1px black;
    height:100px;
}

.playerStone{
    float:left;
    width:40px;
    height:40px;
    margin:5px;
}

.captureStone{
    float:left;
    margin:5px;
    width:30px;
    height:30px;
    margin-left:10px;
}

.playerName{
    display:block;
    margin-left:55px;
    margin-top:15px;
    margin-bottom:5px;
}

.numCaptures{
    display:block;
    margin-left:40px;
    margin-top:11px;
}

.currentTurn{
    background-color:#EEEEFF;
}

#numMoves{
    display:inline-block;
    margin-left:5px;
    float:right;
}

#actions{
    border-bottom:solid 1px black;
}

#status{
    border-bottom:solid 1px black;
    padding:7px;
    background-color:#ECA;
}

#chatWindow{
  overflow-y:scroll;
}

#chatInput{
    padding:3px;
}

#chatInput input{
    padding: 4px;
    border: 1px solid #999;
    border-radius: 3px;
    line-height: 1;
    height: auto;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    -webkit-appearance: textfield;
}