#console{
    padding:0px;
    margin:0px;
}

#console #title{
    margin:0px;
    padding:5px;
    background-color:black;
    color:white;
}

#console #title h2{
    margin:8px;
    padding-left:50px;
}

#console h3{
    text-align:center;
}

#console #title img{
    float:left;
    width:43px;
    height:43px;
}

#console table{
    font-size:90%;
    width:100%;
}

#newGameDialog{
    padding-top:5px;
}

#gamesList th{
    border-bottom:solid 1px black;
    padding:5px;
}

#gamesList td{
    border-bottom:solid 1px black;
    padding:5px;
}

#login-buttons{
    float:right;
    margin-top:7px;
}

a#titleDropDown{
   float:right;
   padding-right:5px;
   margin-top:12px;
   color:white;
   text-decoration:none;
}


#login-buttons .login-link-text {
	-moz-box-shadow:inset 0px 0px 15px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 0px 15px 0px #bbdaf7;
	box-shadow:inset 0px 0px 15px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:9px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
	-webkit-border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	border-top-right-radius:9px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	border-bottom-left-radius:9px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:27px;
	line-height:27px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px -1px 0px #528ecc;
	text-decoration:none;
}
.login-link-text:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.login-link-text:active {
	position:relative;
	top:1px;
}
