#console{
    padding:0px;
    margin:0px;
}

#console #title{
    margin:0px;
    padding:5px;
    background-color:black;
    color:white;
}

#console #title h2{
    margin:8px;
    padding-left:50px;
}

#console h3{
    text-align:center;
}

#console #title img{
    float:left;
    width:43px;
    height:43px;
}

#console table{
    font-size:90%;
    width:100%;
}

#newGameDialog{
    padding-top:5px;
    width:100%;
    text-align:center;
}

#showNewGameButton{
    margin-left:115px;
}

#gamesList th{
    border-bottom:solid 1px black;
    padding:5px;
    text-align:left;
}

#gamesList td{
    border-bottom:solid 1px black;
    padding:5px;
}

#login-buttons{
    float:right;
    margin-top:7px;
}

a#titleDropDown{
   float:right;
   padding-right:5px;
   margin-top:12px;
   color:white;
   text-decoration:none;
}


#players #black{
    width:50%;
    border:solid 1px black;
    border-left:solid 1px white;
    float:left;
    height:100px;
}

#players #white{
    width:50%;
    border:solid 1px black;
    border-left:solid 1px white;
    border-right:solid 1px white;
    margin-left:50%;
    height:100px;
}

.playerStone{
    float:left;
    width:40px;
    height:40px;
    margin:5px;
}

.captureStone{
    float:left;
    margin:5px;
    width:30px;
    height:30px;
    margin-left:10px;
}

.playerName{
    display:block;
    margin-left:55px;
    margin-top:15px;
    margin-bottom:5px;
}

.numCaptures{
    display:block;
    margin-left:40px;
    margin-top:11px;
}

.currentTurn{
    background-color:#EEEEFF;
}

#numMoves{
    display:inline-block;
    width:84px;
    margin-left:5px;
}

#actions{
    border-bottom:solid 1px black;
}