html, body{
   height:100%;
   padding:0px;
   margin:0px;
   font-family: helvetica, arial, sans-serif;
}

table, table tr, table td { padding:none;border:none;border-spacing:0;}

a{text-decoration:none}

#glContainer{
    width:auto;
    background-color:#FAFAFA;
    border-right:solid 1px black;
    height:100%;
}

.container {
   height:100%;
   overflow: hidden;
}

.right {
    width: 370px;
    height:100%;
    float: right;
}

.left {
    float: none; 
    width: auto;
    height: 100%;
    overflow: hidden;
}

#title{
    position:relative;
}

#userMenu{
    display:none;
    position:absolute;
    top:34px;
    right:13px;
    width:50px;
    padding:5px;
    border:solid 1px black;
    background-color:white;
}