#container{
    width:600px;
    height:600px;
    background-color:#DAEAFA;
    float:left;
    border:solid 2px black;
}

#console{
    margin-left:605px;
    padding:5px;
    width:200px;
    height:590px;
    border:solid 2px black;
}